.ft_container {
  width: 100%;
  background-color: #030909;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  color: #ffffff;
}

/* FOOTER MAIN SECTION */

.ft_main {
  width: 100%;
  height: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.ft_main_items {
  width: 64.58%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.ft_main_details {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 1.667vw;
}

.ft_main_address {
  margin-left: 4.167vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 3.7vw;
}

.ft_main_address h3 {
  margin: 0;
  font-size: 1.667vw;
  font-weight: 700;
}

.ft_main_address span {
  font-size: 0.883vw;
  border-bottom: 1px solid #ffffff;
}

.ft_main_partner {
  display: flex;
  align-items: center;
  margin-left: 4vw;
}

.ft_main_partner img {
  width: 3.802vw;
}

.ft_main_partner span {
  width: 5.365vw;
  font-size: 1.146vw;
  font-weight: 700;
  margin-left: 1.5vw;
}

.ft_main_socials img {
  margin-left: 1.7vw;
  width: 21vw;
}

/* FOOTER LEGAL SECTION */

.ft_main_legal {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 2.3vw;
}

.ft_main_privacy {
  list-style: none;
  font-size: 1.146vw;
  line-height: 2.8vw;
  margin-top: 0.521vw;
}

.ft_main_contacts {
  list-style: none;
  font-size: 0.833vw;
  margin: 0;
}

.ft_main_contacts li {
  display: flex;
  align-items: center;
  line-height: 2vw;
}

.ft_main_contacts li img {
  width: 0.938vw;
  padding-right: 1.042vw;
}

/* FOOTER NEWSLETTER SECTION */

.ft_newsletter {
  background-color: #1c2121;
  width: 35.42%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
}

.ft_newsletter_items {
  width: 100%;
  height: 70%;
  padding-left: 2.083vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 1.667vw;
  padding-bottom: 1.667vw;
}

.ft_newsletter_items span {
  font-size: 1.667vw;
  width: 23.385vw;
}

#email {
  all: unset;
  background-color: #1c2121;
  border-bottom: 1px solid #c4c4c4;
  width: 25.104vw;
  height: 2.5vw;
}

#email::placeholder {
  font-size: 1.146vw;
}

.ft_newsletter_accept {
  display: flex;
  align-items: center;
  justify-content: left;
}

#accept {
  width: 1.042vw;
  margin-right: 0.833vw;
}

.ft_newsletter_accept label {
  font-size: 0.833vw;
  border-bottom: 1px solid #ffffff;
}

.ft_newsletter_subscription {
  display: flex;
  align-items: center;
}

.ft_newsletter_subscription span {
  font-size: 1.458vw;
  font-weight: 600;
  border-bottom: 1px solid #ffffff;
  width: 100%;
}

.ft_newsletter_subscription img {
  width: 3.265vw;
  padding-left: 1.458vw;
}

/* FOOTER BOTTOM SECTION */

.ft_bottom {
  width: 100%;
  height: 4.167vw;
  display: flex;
  align-items: center;
  background-color: #d6001c;
}

.ft_bottom_credits {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #000000;
  font-size: 0.833vw;
  padding: 0 4.167vw;
}
