.gallery_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;

  box-sizing: border-box;
}

.gallery_navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 6.25vw 4.167vw 0 4.167vw;
  box-sizing: border-box;
}

.gallery_title h4 {
  font-size: 2.5vw;
  font-weight: 500;
  margin: 0;
}

.gallery_searchbar {
  width: 60%;
  height: 3.125vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gallery_date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  height: 1.62vw;
}

.gallery_date > span {
  font-size: 1.667vw;
}

.date_selection {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.date_selection span {
  font-size: 1.146vw;
}

.date_selection img {
  width: 1.042vw;
}

.gallery_activities {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  height: 1.62vw;
}

.gallery_activities > span {
  font-size: 1.667vw;
}

.activities_selection {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.activities_selection span {
  font-size: 1.146vw;
}

.activities_selection img {
  width: 1.042vw;
}

.photo_container_1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 4.167vw 0 4.167vw;
}

.photo_container_2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 4.167vw 0 4.167vw;
}

.photo_wrapper {
  width: 49%;
}

.first_photo {
  position: relative;
}

.photo {
  width: 100%;
  margin-bottom: 1.667vw;
  padding-top: 4.083vw;
}

.photo img {
  width: 100%;
}

.photo:hover {
  transform: rotate(5deg);
  transition: all 0.5s ease;
  cursor: pointer;
}

.first_photo:hover .ghost_photo {
  transform: rotate(-5deg);
  transition: all 1s ease;
}

.ghost_photo {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 4.083vw;
  z-index: -1;
}

.photo_description {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.photo_title {
  font-size: 1.667vw;
  font-weight: 500;
}

.photo_date {
  font-size: 1.354vw;
}

.gallery_load {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5.208vw;
  margin-bottom: 6.25vw;
  width: 100%;
}

.gallery_load span {
  font-size: 1.458vw;
  font-weight: 600;
  border-bottom: 1px solid #000000;
}
