.header_container {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ffffff;
  width: 100%;
}

.navbar {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.167vw;
  box-sizing: border-box;
  z-index: 1;
  height: 10vw;
}

.nav_logo h3 {
  font-size: 2.656vw;
  margin: 1px;
  font-weight: 600;
  line-height: 80%;
  text-transform: uppercase;
}

.nav_menu {
  width: 67%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-weight: 600;
  font-size: 1.1vw;
  color: #f1eee5;
  text-transform: uppercase;
}

.nav_item:hover {
  border-bottom: 4px solid #ffffff;
  cursor: pointer;
}

.nav_item.box {
  width: 23%;
  height: 3.2vw;
  display: flex;
  align-items: center;
  background: #d6001c;
  border: 2px solid #c4051e;
  box-sizing: border-box;
}

.lang_wrapper {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 2px solid #c4051e;
  box-sizing: border-box;
}

.lang_wrapper span {
  margin: auto;
}

.socials_wrapper {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social_logo {
  width: 2vw;
  height: 1vw;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.header_title {
  position: absolute;
  width: 47.396vw;
  height: 10vw;
  left: 4.167vw;
  top: 15.885vw;
}

.header_title h2 {
  font-weight: 300;
  font-size: 5.104vw;
  line-height: 98%;
  letter-spacing: -0.04em;
  margin: 0;
  text-transform: uppercase;
}

.description {
  position: absolute;
  width: 45.156vw;
  height: 5.208vw;
  left: 4.167vw;
  top: 28.125vw;
}

.description p {
  font-size: 1.875vw;
  margin: 0;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}

.header_img {
  height: 37.5vw;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .navbar {
    position: fixed;
    background-color: #030909;
    height: 12vw;
    border-bottom: 1px solid #f1eee5;
  }

  .nav_menu {
    position: fixed;
    right: -100%;
    top: 12vw;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    background-color: #030909;
    width: 100%;
    height: 50vh;
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 1;
    padding: 0 0 30px 0;
    margin: 0;
  }

  .nav_menu.active {
    right: 0;
    padding: 2.083vw 0;
  }

  .nav_logo h3 {
    font-size: 4.167vw;
  }

  .nav_item {
    font-size: 3vw;
  }

  .nav_item.box {
    width: 50%;
    height: 7.2vw;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 2px solid #f1eee5;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .lang_wrapper {
    border-right: 2px solid #f1eee5;
  }

  .social_logo {
    width: 3vw;
    height: 2vw;
  }

  .header_title {
    top: 25vw;
  }

  .header_title h2 {
    font-weight: 300;
    font-size: 6.25vw;
  }

  .description p {
    font-size: 2.292vw;
  }

  .description {
    top: 40vw;
  }

  .header_img {
    height: 50vw;
    margin-top: 12vw;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
